n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "get_active_workflows",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "74630646-16e0-4070-a3af-a0dd3c851248"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "active_workflows"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "id": "b5d83172-406e-4b65-b6e2-9aa82e52656d",
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "get_workflow_executions",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "executions_worfklows"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "id": "d473b358-fada-49a2-9221-c35d1675f944",
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "get_execution_details",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "execution_details"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ce8c7b6d-a806-4217-aaac-6c1f7e65e655",
            "name": "Route by Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -544,
                512
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                -96,
                336
            ],
            "id": "51de75ad-de00-4b5b-bcfc-ca4663506a0d",
            "name": "Extract All Executions"
        },
        {
            "parameters": {
                "url": "=https://<YOUR_N8N_INSTANCE>/api/v1/executions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "includeData",
                            "value": "={{false}}"
                        },
                        {
                            "name": "limit",
                            "value": "={{ $('Webhook').item.json.body.limit }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a4597804-9059-46a3-8b8c-c172e53138de",
            "name": "Get Last Executions",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -320,
                336
            ],
            "notesInFlow": true,
            "credentials": {
                "n8nApi": {
                    "id": "tRdkfwbUbfDfqlYo",
                    "name": "n8n account"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://<YOUR_N8N_INSTANCE>/api/v1/workflows",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "active",
                            "value": "={{true}}"
                        },
                        {
                            "name": "limit",
                            "value": "={{ $('Webhook').item.json.body.workflow_id }}"
                        },
                        {
                            "name": "excludePinnedData",
                            "value": "={{true}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "b4c69858-3064-4a82-960e-b6d8d82cf820",
            "name": "Get Active Workflows",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -320,
                528
            ],
            "notesInFlow": true,
            "credentials": {
                "n8nApi": {
                    "id": "tRdkfwbUbfDfqlYo",
                    "name": "n8n account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "d15f58d4-551d-423d-bae7-19e7b8d9f58d",
                            "name": "createdAt",
                            "value": "={{ $json.createdAt }}",
                            "type": "string"
                        },
                        {
                            "id": "37bff539-0f27-4f40-8235-789910e8c5f8",
                            "name": "updatedAt",
                            "value": "={{ $json.updatedAt }}",
                            "type": "string"
                        },
                        {
                            "id": "29d013e7-127b-41ec-ab1d-4deef3c040f4",
                            "name": "id",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "aee15b56-0237-45cf-8a29-f5d24eb7db15",
                            "name": "name",
                            "value": "={{ $json.name }}",
                            "type": "string"
                        },
                        {
                            "id": "78d99983-8baa-4b07-b357-bcc7a0ecfa4d",
                            "name": "isArchived",
                            "value": "={{ $json.isArchived }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                128,
                528
            ],
            "id": "8cdf82cd-4f50-4e1e-881f-b82efd16a925",
            "name": "Active Workflows",
            "notesInFlow": true
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "8d8ea5d4-986e-46f3-adee-11eda64f8f60",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": false
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -768,
                528
            ],
            "id": "9f7e6155-9bfe-4f7c-bdd0-0d40bfc96f6f",
            "name": "Webhook",
            "webhookId": "8d8ea5d4-986e-46f3-adee-11eda64f8f60"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                352,
                528
            ],
            "id": "567732b0-a69d-4ccd-82d6-ac35e470b782",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "url": "=https://<YOUR_N8N_INSTANCE>/api/v1/executions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "n8nApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "includeData",
                            "value": "={{true}}"
                        },
                        {
                            "name": "limit",
                            "value": "={{ $('Webhook').item.json.body.limit }}"
                        },
                        {
                            "name": "workflowId",
                            "value": "={{ $('Webhook').item.json.body.workflow_id }}"
                        },
                        {
                            "name": "status",
                            "value": "error"
                        }
                    ]
                },
                "options": {}
            },
            "id": "6848fedc-9f08-41dd-976b-c22680e9ee43",
            "name": "Get Executions Details (Status = Error)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -96,
                720
            ],
            "notesInFlow": true,
            "credentials": {
                "n8nApi": {
                    "id": "tRdkfwbUbfDfqlYo",
                    "name": "n8n account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const executions = $input.all().map(item => item.json);\n\n// Basic metrics \nconst totalExecutions = executions.length;\nconst failedExecutions = executions.filter(exec => exec.status === 'error');\nconst successfulExecutions = executions.filter(exec => exec.status === 'success');\nconst failedCount = failedExecutions.length;\nconst successCount = successfulExecutions.length;\nconst failureRate = totalExecutions > 0 ? ((failedCount / totalExecutions) * 100).toFixed(2) : 0;\n\n// All the unique workflows that had failures\nconst workflowsWithFailures = [...new Set(failedExecutions.map(exec => exec.workflowId))];\nconst workflowsWithFailuresCount = workflowsWithFailures.length;\n\n// Group failed executions by workflow\nconst failedByWorkflow = {};\nfailedExecutions.forEach(exec => {\n  if (!failedByWorkflow[exec.workflowId]) {\n    failedByWorkflow[exec.workflowId] = {\n      workflowId: exec.workflowId,\n      failures: [],\n      failureCount: 0\n    };\n  }\n  failedByWorkflow[exec.workflowId].failures.push({\n    id: exec.id,\n    startedAt: exec.startedAt,\n    stoppedAt: exec.stoppedAt,\n    mode: exec.mode\n  });\n  failedByWorkflow[exec.workflowId].failureCount++;\n});\n\n// Calculate execution modes distribution\nconst executionModes = executions.reduce((acc, exec) => {\n  acc[exec.mode] = (acc[exec.mode] || 0) + 1;\n  return acc;\n}, {});\n\n// Get all unique workflows\nconst allWorkflows = [...new Set(executions.map(exec => exec.workflowId))];\nconst totalWorkflowsExecuted = allWorkflows.length;\n\n// Metrics per workflow\nconst workflowMetrics = {};\nallWorkflows.forEach(workflowId => {\n  const workflowExecs = executions.filter(exec => exec.workflowId === workflowId);\n  const workflowFailed = workflowExecs.filter(exec => exec.status === 'error').length;\n  const workflowSuccess = workflowExecs.filter(exec => exec.status === 'success').length;\n  \n  workflowMetrics[workflowId] = {\n    workflowId: workflowId,\n    totalExecutions: workflowExecs.length,\n    successfulExecutions: workflowSuccess,\n    failedExecutions: workflowFailed,\n    successRate: workflowExecs.length > 0 ? \n      ((workflowSuccess / workflowExecs.length) * 100).toFixed(2) + '%' : '0%',\n    failureRate: workflowExecs.length > 0 ? \n      ((workflowFailed / workflowExecs.length) * 100).toFixed(2) + '%' : '0%',\n    lastExecution: workflowExecs[0]?.startedAt || null,\n    executionModes: workflowExecs.reduce((acc, exec) => {\n      acc[exec.mode] = (acc[exec.mode] || 0) + 1;\n      return acc;\n    }, {})\n  };\n});\n\n// Sort workflows by failure rate (highest rate first)\nconst workflowsByFailureRate = Object.values(workflowMetrics)\n  .sort((a, b) => parseFloat(b.failureRate) - parseFloat(a.failureRate))\n  .slice(0, 10); // Top 10 problematic workflows\n\n// Calculate time-based metrics\nconst now = new Date();\nconst executionsByHour = {};\n\nexecutions.forEach(exec => {\n  const startTime = new Date(exec.startedAt);\n  const hourKey = startTime.toISOString().slice(0, 13) + ':00'; // Round to hour\n  \n  if (!executionsByHour[hourKey]) {\n    executionsByHour[hourKey] = {\n      total: 0,\n      success: 0,\n      error: 0\n    };\n  }\n  \n  executionsByHour[hourKey].total++;\n  if (exec.status === 'success') {\n    executionsByHour[hourKey].success++;\n  } else if (exec.status === 'error') {\n    executionsByHour[hourKey].error++;\n  }\n});\n\n// Calculate average execution time for finished executions\nconst executionTimes = executions\n  .filter(exec => exec.finished && exec.startedAt && exec.stoppedAt)\n  .map(exec => {\n    const start = new Date(exec.startedAt);\n    const stop = new Date(exec.stoppedAt);\n    return (stop - start) / 1000; // ms to seconds\n  });\n\nconst avgExecutionTime = executionTimes.length > 0 \n  ? (executionTimes.reduce((a, b) => a + b, 0) / executionTimes.length).toFixed(2)\n  : 0;\n\nconst maxExecutionTime = executionTimes.length > 0 \n  ? Math.max(...executionTimes).toFixed(2)\n  : 0;\n\nconst minExecutionTime = executionTimes.length > 0 \n  ? Math.min(...executionTimes).toFixed(2)\n  : 0;\n\n// Find most recent failures\nconst recentFailures = failedExecutions\n  .sort((a, b) => new Date(b.startedAt) - new Date(a.startedAt))\n  .slice(0, 5)\n  .map(exec => ({\n    id: exec.id,\n    workflowId: exec.workflowId,\n    startedAt: exec.startedAt,\n    mode: exec.mode\n  }));\n\n// Return all indicators\nconst kpis = {\n  summary: {\n    totalExecutions: totalExecutions,\n    successfulExecutions: successCount,\n    failedExecutions: failedCount,\n    failureRate: failureRate + '%',\n    successRate: (100 - parseFloat(failureRate)).toFixed(2) + '%',\n    totalWorkflowsExecuted: totalWorkflowsExecuted,\n    workflowsWithFailures: workflowsWithFailuresCount\n  },\n  \n  executionModes: executionModes,\n  \n  timing: {\n    averageExecutionTime: avgExecutionTime + ' seconds',\n    maxExecutionTime: maxExecutionTime + ' seconds',\n    minExecutionTime: minExecutionTime + ' seconds',\n    timeRange: {\n      from: executions[executions.length - 1]?.startedAt || null,\n      to: executions[0]?.startedAt || null\n    }\n  },\n  \n  failureAnalysis: {\n    workflowsImpactedByFailures: workflowsWithFailures,\n    failedExecutionsByWorkflow: failedByWorkflow,\n    recentFailures: recentFailures\n  },\n  \n  workflowPerformance: {\n    allWorkflowMetrics: workflowMetrics,\n    topProblematicWorkflows: workflowsByFailureRate\n  },\n  \n  timeSeriesData: executionsByHour,\n  \n  alerts: {\n    highFailureRate: parseFloat(failureRate) > 10,\n    failureRateThreshold: parseFloat(failureRate) > 10 ? \n      `⚠️ High failure rate detected: ${failureRate}%` : \n      `✅ Failure rate within acceptable range: ${failureRate}%`,\n    workflowsNeedingAttention: Object.values(workflowMetrics)\n      .filter(wf => parseFloat(wf.failureRate) > 20)\n      .map(wf => ({\n        workflowId: wf.workflowId,\n        failureRate: wf.failureRate,\n        failedCount: wf.failedExecutions\n      }))\n  }\n};\n\n// Return the KPIs object\nreturn kpis;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                128,
                336
            ],
            "id": "a8a2a25f-7d7c-405b-86eb-078e5c80fc4e",
            "name": "Processing Audit"
        },
        {
            "parameters": {
                "content": "### 1. Setup a webhook connected to your instance\n\nThe workflow is triggered by a webhook that will be called by your MCP server using the `requests` library.\n\n#### How to setup?\n- **Webhook Trigger:** test url can be used when your workflow is not active (test using execute workflow button)\n[Learn more about n8n webhooks](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook)\n",
                "height": 580,
                "width": 228,
                "color": 7
            },
            "id": "3007a8e6-824c-4aff-b47b-507c71f0649c",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -800,
                112
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                -96,
                528
            ],
            "id": "04b4cbfb-58a3-4ee6-b286-3811be0609e9",
            "name": "Split Active Executions"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                128,
                720
            ],
            "id": "19f3a9e9-f888-4939-948b-484afb691765",
            "name": "Details of Executions"
        },
        {
            "parameters": {
                "content": "### 2. Call n8n API\n\nThe http request node will call different endpoints of the n8n API of your instance to collect workflow metadata and execution logs.\n\n#### How to setup?\n- **HTTP Requests:** replace <YOUR_N8N_INSTANCE> by the link to your own instance\n",
                "height": 804,
                "width": 676,
                "color": 7
            },
            "id": "37f93cef-3354-4b8b-b0ed-30628229858c",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -384,
                96
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "### YouTube Tutorial\nFor more details, check this tutorial\n[![Tutorial](https://www.samirsaci.com/content/images/2025/11/temp-8.png)](https://youtu.be/-MTl2vP1B70)\n",
                "height": 416,
                "width": 592
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                368,
                96
            ],
            "typeVersion": 1,
            "id": "39ba72b4-a5f6-42df-b91f-fae7a852d4bd",
            "name": "Sticky Note2"
        }
    ],
    "connections": {
        "Route by Action": {
            "main": [
                [
                    {
                        "node": "Get Active Workflows",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Last Executions",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Executions Details (Status = Error)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract All Executions": {
            "main": [
                [
                    {
                        "node": "Processing Audit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Last Executions": {
            "main": [
                [
                    {
                        "node": "Extract All Executions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Active Workflows": {
            "main": [
                [
                    {
                        "node": "Split Active Executions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Active Workflows": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Route by Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Executions Details (Status = Error)": {
            "main": [
                [
                    {
                        "node": "Details of Executions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processing Audit": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Active Executions": {
            "main": [
                [
                    {
                        "node": "Active Workflows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Details of Executions": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": ""
    }
}